
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  cursor: pointer;
  margin: .7rem;
}

.about .video-container .controls span:hover {
  background: #ffdb57;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #bf9d24;
  font-size: 2rem;
}

.about .content h3 {
  color: #fff;
  font-size:1,4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.3rem;
  color: #aaa;
  line-height: 2;
}


.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}


hoja de estilo de user-agent
video {
  object-fit: contain;
}

.banner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.banner-container .banner {
  position: relative;
  height: 25rem;
  overflow: hidden;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-container .banner .content {
  position: absolute;
  top: 80%;
  left: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.banner-container .banner .content span {
  color: #666;
  font-size: 1.5rem;
}

.banner-container .banner .content h3 {
  font-size: 2rem;
  padding-top: .5rem;
  color: #222;
}

.banner-container .banner .content .btn {
  padding: .8rem 2.5rem;
}


.service .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  background:#2b2b2b66;
  border:.1rem solid rgba(53, 53, 53, 0.1);
  border-radius: .5rem;
  padding:2rem;
}

.service .box-container .box{
  text-align: center;
  flex:1 1 30rem
}

.service .box-container .box i{
  font-size: 2rem;
  color:rgb(138, 132, 48);
}

.service .box-container .box h3{
  font-size: 1,5rem;
  color:var(--black);
  padding-top: 1rem;
}

.service .box-container .box p{
  font-size: 1.5rem;
  color:#666;
  padding:1rem 0;
}

:root {
  --swiper-navigation-size: 44px;
}
:root {
  --swiper-theme-color: #007aff;
}
:root {
  --orange: #ff7800;
  --black: #ffffff;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  --border: .2rem solid rgba(0,0,0,.1);
  --outline: .1rem solid rgba(0,0,0,.1);
  --outline-hover: .2rem solid var(--black);
}
html {
  font-size: 73.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}


.color {
  margin-top: 1rem;
  display: inline-block;
  padding: .5rem 1rem;
  font-size: 1.7rem;
  color: #ac961b;
  border: 0.2rem solid #8f852b;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.color:hover {
  background: #92811e;
  color: #111;
}

.section{
  padding: 70px;
}

.btn {
  border-radius: 10px;
}